<input type="text" class="form-control" [(ngModel)]="carName" />
<button class="btn btn-primary" (click)="addCar()">Добавить кнопку</button>
<p *ngIf="!carCarStatus; else successStatus">Машина не добавлена</p>
<ng-template #successStatus>
    <p>Машина добавлена!</p>
</ng-template>
<hr />


<!--<app-car *ngFor="let car of cars"></app-car>-->

<ul>
    <li *ngFor="let car of cars; let i = index">
        <div
            [ngStyle]="{'background-color': (i + 1) % 2 === 0 ? 'red' : 'black', color: 'white'}"
            [ngClass]="{'big-text': setBigCarLength(car)}"
        >
            <b>{{i+1}}</b> - {{car}}
        </div>
    </li>
</ul>
