<input type="text" class="form-control" [(ngModel)]="carName" />
<button class="btn btn-primary" (click)="addCar()">Добавить кнопку</button>
<p *ngIf="!carCarStatus; else successStatus">Машина не добавлена</p>
<ng-template #successStatus>
    <p>Машина добавлена!</p>
</ng-template>
<hr />


<!--<app-car *ngFor="let car of cars"></app-car>-->

<ul>
    <li *ngFor="let date of dates; let i = index">
        <div>
            <!--<b>{{i+1}}</b> - {{date | date: 'short'}}-->
            <b>{{i+1}}</b> - {{date | uppercase}}
        </div>
    </li>
</ul>
